<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  table {
    width: 100%;
  }
  .td {
    text-align: center;
  }
</style>
<body>
<form action="/search" method="get">
  <input  type="text" name="search">
  <input type="submit" value="search">
</form>
<a href="/create/user">Create user</a>
<table border="1" class="td">
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr th:each="p:${pageuser}">
    <td th:utext="${p.id}"></td>
    <td th:utext="${p.firstName}"></td>
    <td th:utext="${p.age}"></td>
  </tr>
</table>
<div>
  <div>
    <a th:href="@{'/user'(page=${pageuser.number-1})}" th:if="${pageuser.hasPrevious()}">Back</a>
    <span th:utext="${pageuser.number+1}"></span>/<span th:utext="${pageuser.totalPages}"></span>
    <a th:href="@{'/user'(page=${pageuser.number+1})}" th:if="${pageuser.hasNext()}">Next</a>
  </div>
</div>
</body>
</html>